/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2711";

    fragment@0 {
        target-path = "/";
        __overlay__ {
            led_gpio: led_gpio {
                gpios = <&gpio 17 0>;
                status = "okay";
            };
        };
    };
};

